@import "nativescript-theme-core/css/core.light.css";

.main-layout {
  flex-wrap: wrap;
  justify-content: space-between;
}
Button {
  width: 100;
  margin-bottom: 25;
  text-align: center;
  padding: 12.5;
  border-radius: 5;
  horizontal-align: left;
}

.description {
  margin-top: 10;
  margin-bottom: 10;
}
.detail-layout {
  flex-wrap: wrap;
}
.detail-layout Label {
  padding: 5;
  border-radius: 5;
  width: 100;
  margin-right: 10;
  margin-bottom: 10;
  text-align: center;
}