@import "nativescript-theme-core/css/core.light.css";

Label {
  color: #190c03;
}
.action-bar {
  background-color: #fd7d24;
  color: #190c03;
}

.type {
  width: 100;
  text-align: center;
  margin-top: 10;
  margin-bottom: 20;
  margin-right: 10;
  padding: 12.5;
  border-radius: 5;
  horizontal-align: left;
}

.bubbles-label {
  margin-top: 15;
}
.bubbles {
  margin-top: 10;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.bubbles Button {
  color: #190c03;
  width: 100;
  height: 100;
  font-size: 18;
  border-width: 1;
  border-color: gray;
  border-radius: 50;
}
